@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9ca3af;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #22c55e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  textarea,
  input {
    outline: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323639;
  overflow: hidden;
  min-height: 100vh;
}
